<div class="buttons">
  <div class="pull-right">
    <a href="{{ redirectUrl }}" class="btn btn-primary" target="_top">{{ button_confirm }}</a>
    <p style="margin-top: 10px">You will be redirected to PayGlocal Payment Gateway.</p>
  </div>
</div>